- @visible_forums.each do |f|
  .container
    .row
      .col-lg-12
        .forum_section
          %a{href: forum_path(f)}
            %h2.forum_name
              #{f.name}

          .forum_description
            #{f.description}
      .clearfix