// Place all the styles related to the forum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forum_section {
	margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    border-style: solid;
}

@media screen and (min-width:1200px) {
    .forum_section:after {
        content: '';
        display: table;
        clear: both;
    }
}