%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}Onslaught - US Vek'nilash
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Our Community
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => forum_index_path} Forum
            %li
              %a{:href => events_path} Events
            %li
              %a{:href => apply_path} Apply
        %li
          %a{:href => history_path} History
      %ul.nav.navbar-nav.navbar-right
        %li
          - if logged_in?
            = link_to 'Logout', logout_path
          - else
            = link_to 'Log in with Battle.net', login_path
    / /.navbar-collapse
  / /.container-fluid